.projects {
    width: 50%;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}
.project-item {
    display: flex;
    gap: 20px;
    color: #fff;
    height: 300px;
    border-radius: 20px;
}

.project-item:hover .project-item__img {
    transform: scaleX(1.05) scaleY(1.04);
}

.project-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
}

.project__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.project-item__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-item__desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.project-item__link {
    justify-self: end;
    background-color: #fff;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s ease;
}

.project-item__link:hover {
    background-color: #e0e0e0;
    transform: scaleX(1.05) scaleY(1.04);
}

@media (max-width: 768px) {
    .projects {
        width: 100%;
        padding: 50px 0;
    }
    .project-item {
        flex-direction: column !important;
    }
    .project-item__img {
        width: 100%;
    }
}