@import '@/shared/styles/variables/variables.css';

.title {
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(24px, 5vw, 64px);
  font-weight: 600;
  color: var(--text-color-dark);
}

.title span {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}