.experience {
    padding: 150px 0;
}

.experience__wrapper {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.experience__card {
    width: 50%;
}

.experience__wrapp {
    display: flex;
    align-items: center;
    gap: 16px;
}
.experience__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.experience__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience__info {
    max-width: 70%;
}

.experience__title {
    font-size: clamp(18px, 2.5vw, 24px);
    font-weight: 600;
}

.experience__point {
    font-size: clamp(14px, 2vw, 18px);
}

@media (max-width: 768px) {
    .experience__card {
        width: 100%;
    }
}