.home {
  position: relative;
  min-height: 100vh;
}

.home__images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  background: linear-gradient(270deg, rgba(16, 16, 16, 0.8) 0%, rgba(31, 31, 31, .8) 100%);
}

.home__img {
  width: 33.3%;
  height: 100%;
  background-color: #181818;
  /* background-color: #6e070776;
    background-color: #6e4f0776;
    background-color: #6e650776;
    background-color: #076e1d76;
    background-color: #07586e76;
    background-color: #07296e76;
    background-color: #6a076e76;
    background-color: #6e070776; */
}

/* возможно сделаю массив из этих оттенков */

.home__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__intro {
  background-color: transparent;
  padding: 20px 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px #666666;
  border-radius: 20px;
}

.home__title {
  text-transform: uppercase;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: clamp(24px, 5vw, 42px);
  font-weight: 700;
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__text {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: clamp(24px, 5vw, 42px);
  font-weight: 700;
  color: #cacaca;
  max-width: 300px;
}

.home__btn {
  margin-left: 10px;
  font-size: 24px;
  color: #cacaca;
  cursor: pointer;
}

@media (max-width: 756px) {
.home__images {
  flex-direction: column;
}
.home__img {
  width: 100%;
  height: 20%;
} 
.home__img:nth-child(3) {
  height: 80%;
}
}